body  {
  margin: auto;
  background-color: #93c8c4;
  position: relative;
  z-index: -2;
  overflow-x: hidden;
}
header  {
  margin: auto;
  height: auto;
  background-color: #b16eb5 ;  
}

.head-nav  {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  margin: auto;
  height: auto;
  align-items: center;
  font-family: 'Merriweather', serif;


}

.aca-link  {
  width: 50px;
}

.image-box  {
  height: 80px;
}

.aca-logo  {
  height: 140px;
  background-color: whitesmoke;
  border-radius: 50%;
  padding-top: 5px;
}

.navigation a  {
  border: 1pt rgb(240, 13, 183) solid;
  border-radius: 10%;
  background-color:  rgb(147, 200, 196);
  padding: 4pt;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

section  {
  text-align: center;
  margin: auto;
}

nav>section  {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}


main  {
  width: 750pt;
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  margin: auto;
  /* margin-bottom: 30px; */
  

  }

h1  {
  font-size: 50pt;
  text-align: center;
  border-bottom: 2pt solid black;
  margin-left: 100pt;
  margin-right: 100pt;
  font-family: 'Oswald', sans-serif;
  color: #072c94 
  }

h2  {
  font-size: 18pt;
  font-family: 'Merriweather', serif;
  color: #de41cd;
  }

p  {
  font-family: 'Merriweather', serif;
  color: #0b4abd;
  letter-spacing: 1pt;
  font-size: 24px;
  }

.picture  {
  display: flex;
  align-items: flex-end;
  height: 100%; 
  width: 100%;
}

div.circle  {
  width: 500pt;
  height: 500pt;
  border-radius: 50%;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);    
  position: absolute;
  z-index: -1;
  margin-left: 400pt;
  margin-top: 400pt;
}

footer  {
  background-color: #b16eb5 ;
  margin: auto;
}

.foot-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: auto;
  justify-content: center;
  padding-bottom: 20px;
}

.foot-nav  {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.foot-nav a  {
  border: 1pt rgb(240, 13, 183) solid;
  border-radius: 10%;
  background-color:  rgb(147, 200, 196);
  padding: 2pt;
  text-decoration: none;
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

h3  {
  display: flex;
  justify-content: center;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-weight: 100;
  /* margin-top: 0; */
  margin-bottom: 0;
}


.foot-logo  {
  height: 40px;
}

.aca-logo-foot  {
  height: 180%;
  background-color: whitesmoke;
  border-radius: 50%;
  padding-top: 5px;

}

.foot-img  {
  height: 100px;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 50%;
  padding-top: 5px;
  justify-content: center;
  position: relative;
  bottom: 50px;

}

.follow-us  {
  color: black;
  margin-top: 0;
}

.icons  {
  display: flex;
  justify-content: space-evenly;
}

.follow-us a  {
  text-decoration: none;
  color: black;
}



@media (max-width: 840px)  {
  
  body  {
    width: 375px auto;
  }

  header  {
    margin: auto;
    height: auto;
    background-color: #b16eb5 ;
  
    
  }
  
  .head-nav  {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50%;
    margin: auto;
    height: auto;
    align-items: center;
    font-family: 'Merriweather', serif;  
  }

  .head-nav a  {
    font-size: 16px;

  }
  

  main  {
    width: 375px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
  }

  p  {
    padding-bottom: 0px;
  }
  
  article  {
    width: 375px;
  }
  
  h1  {
    margin-left: 20pt;
    margin-right: 20pt;
    margin-bottom: 20pt;
  }
  
  h2  {
    padding-left: 10pt;
    font-size: 14pt;
    padding-right: 10pt;
  }

  p  {
    width: 350px;
    padding-left: 0px;
    padding-right: 0px;
    padding-left: 10px;
    font-size: 16px;
  }

  .picture  {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section>img  {
    width: 300px;
  }

  div.circle  {
  width: 350px;
  height: 350px;
  margin-left: 10pt;
  margin-top: 800pt;
  }

}