body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: none;
    background-repeat: no-repeat;
    background-size: auto;
    width: auto;
    height: auto;
    text-align: center;
  }
  
  /* What kind of selector is this? */
  .logo {
    width: 100px;
    height: 100px;
    margin: 3% 10%;
  }

  header {
    display: grid;
    grid-template-columns: 0% 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
  }

  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }

  /* This is an element within an element selector */ 
  nav > a {
    margin: 3% 1% 5%;
    height: auto;
    width: auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 0px;
    background: transparent;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(172, 40, 40);
  }

  .has-border {
    border-radius: 0px;
    border: 2px solid #0795C3;
    background: none;
    padding: 0px;
    text-align: center
  }

  nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 0%;
  }
  /* This is an ID selector */
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }

  h1 {
    color:rgb(0, 0, 0);
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;
    font-style: bold;
    font-size: 45px;
    text-align: center;
  }

  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }

  .small-text {
    grid-column: 2/3;
    color: rgb(0, 0, 0);
    font-size: 10px;
    margin: 3% auto;
  }

  button {
    grid-column: 2/3;
    margin: auto;
    width: auto%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    background: grey;
    padding: 5px;
    padding-bottom: 0%;
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 16px;
    font-style: italic;
  }